@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;

  background-color: #e67646;
  background-image: url("./img/spots.png");

  color: white;
}

section {
  padding-top: 2rem;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}

h1,
h2 {
  margin-bottom: 1rem;

  font-family: "Great Vibes", fantasy;
  font-weight: 400;
  font-size: 3rem;
}

h2 {
  text-align: center;
}

h3 {
  text-transform: uppercase;
}

a {
  color: white;
}

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}


header {
  padding: 1rem 0 1rem 0;
  height: 5rem;

  background-color: #301a1a;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.site-logo {
  width: 180px;
  height: 50px;

  background-image: url("./img/site-logo.png");
  background-size: contain;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav a {
  border-bottom: 1px solid transparent;

  text-decoration: none;
  text-transform: uppercase;

  margin: 1rem;
}

nav a:hover {
  border-bottom: 1px solid white;
}

.rollout-nav {
  width: 10rem;
  padding: 1rem;

  background-color: #301a1a;

  z-index: 1;
}

.rollout-nav a {
  display: block;
}

.inline-nav a {
  display: inline-block;
}

.nav-closed {
  display: none;
}

.nav-btn {
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: none;

  background-color: transparent;
  background-image: url("./img/menu.png");
  background-size: contain;

  cursor: pointer;
}

@media (min-width: 768px) {
  .navigation {
    flex-direction: row;
  }

  .rollout-nav {
    width: initial;
  }

  .rollout-nav a {
    display: inline-block;

    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .nav-closed {
    display: block;
  }

  .nav-btn {
    display: none;
  }

  .nav-btn:focus {
    outline: none;
  }

  .banner__content {
    width: 30%;

    margin-left: 65%;
    padding-top: 4rem;

    text-align: center;
  }  
}


footer {
  padding: 2rem 0;

  background-color: #301a1a;
}

.footer__content {
  max-width: 25rem;
  margin: 0 auto;

  font-size: small;
  text-align: center;
}